.buttonContainer {
    display: flex;
    gap: 10px;
}

.button {
    background-color: green;
    border: none;
    border-radius: 4px;
    padding: 5px;
    width: 70px;
    font-weight: 500;
}

.button:hover {
    background-color: rgb(78, 143, 78);
}

.buttonNeutral {
    composes: button;
    background-color: gray;
}

.buttonNeutral:hover {
    background-color: rgb(180, 180, 180);
}

.buttonBad {
    composes: button;
    background-color: red;
}

.buttonBad:hover {
    background-color: rgb(241, 95, 95);
}

.buttonReset {
    composes: button;
    background-color: orange;
}

.buttonReset:hover {
    background-color: rgb(245, 194, 99);
}